<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Recommendation form">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <title>String recommendations</title>
    <!-- TODO: Use different icon sizes -->
    <link rel="icon" href="{{url_for('static', filename='icons/app.png')}}" type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("{{ url_for('static', filename='sw.js') }}").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
</script>
</head>
<body>
    <button id="pwaa">App</button>
    <div class="container">
        <form action="{{ url_for('recommendation') }}" method="post">
            <div class="row center" style="width: 80%;">
                <div class="column">
                    <div style="padding: 5px;">
                        <b>Age:</b>
                    </div>
                    <label for="age"></label>
                    <input type="radio" name="age"  value="moins de 12ans">moins de 12ans<br>
                    <label for="age"></label>
                    <input type="radio" name="age" value="entre 12ans et 60ans" checked>entre 12ans et 60ans<br>
                    <label for="age"></label>
                    <input type="radio" name="age" value="plus de 60ans">plus de 60ans<br>                    
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de jeu:</b>
                    </div>
                    <label for="play_freq"></label>
                    <input type="radio" name="play_freq" value="rarement">rarement<br>
                    <label for="play_freq"></label>
                    <input type="radio" name="play_freq" value="parfois" checked>parfois<br>
                    <label for="play_freq"></label>
                    <input type="radio" name="play_freq" value="souvent">souvent<br>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de casse:</b>
                    </div>
                    <label for="break_freq"></label>
                    <input type="radio" name="break_freq" value="rarement">rarement<br>
                    <label for="break_freq"></label>
                    <input type="radio" name="break_freq" value="parfois" checked>parfois<br>
                    <label for="break_freq"></label>
                    <input type="radio" name="break_freq" value="souvent">souvent<br>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Objectif:</b>
                    </div>
                    <label for="goal"></label>
                    <input type="radio" name="goal" value="confort">confort<br>
                    <label for="goal"></label>
                    <input type="radio" name="goal" value="solidite" checked>solidite<br>
                    <label for="goal"></label>
                    <input type="radio" name="goal" value="performance">performance<br>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Es-tu blessé?</b>
                    </div>
                    <label for="injury"></label>
                    <input type="radio" name="injury" value="true">oui<br>
                    <label for="injury"></label>
                    <input type="radio" name="injury" value="" checked>non<br> <!-- false string must be "" -->
                </div>
                <div class="column center" style="top: 150%;">
                    <button>
                        Continuer
                    </button>
                </div>
            </div>
        </form> 
    </div>
    <!-- JS scripts to be loaded after html (to seek element for instance -->    
    <script src="{{ url_for('static', filename='prompt.js') }}"></script>
</body>
</html>
