<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Recommendation form">
    <meta name="service-worker-allowed" content="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <title>String recommendations</title>
    <!-- TODO: Use different icon sizes -->
    <link rel="icon" href="{{url_for('static', filename='icons/app.png')}}" type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
    <button id="pwaa">App</button>
    <div class="container">
        <form action="{{ url_for('recommendation') }}" method="post">
            <div class="row center" style="width: 80%;">
                <div class="column">
                    <div style="padding: 5px;">
                        <b>Age:</b>
                    </div>
                    <label><input type="radio" name="age"  value="moins de 12ans">moins de 12ans<br></label>
                    <label><input type="radio" name="age" value="entre 12ans et 60ans" checked>entre 12ans et 60ans<br></label>
                    <label><input type="radio" name="age" value="plus de 60ans">plus de 60ans<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de jeu:</b>
                    </div>
                    <label><input type="radio" name="play_freq" value="rarement">rarement<br></label>
                    <label><input type="radio" name="play_freq" value="parfois" checked>parfois<br></label>
                    <label><input type="radio" name="play_freq" value="souvent">souvent<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de casse:</b>
                    </div>
                    <label><input type="radio" name="break_freq" value="rarement">rarement<br></label>
                    <label><input type="radio" name="break_freq" value="parfois" checked>parfois<br></label>
                    <label><input type="radio" name="break_freq" value="souvent">souvent<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Objectif:</b>
                    </div>
                    <label><input type="radio" name="goal" value="confort">confort<br></label>
                    <label><input type="radio" name="goal" value="solidite" checked>solidite<br></label>
                    <label><input type="radio" name="goal" value="performance">performance<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Es-tu blessé?</b>
                    </div>
                    <label><input type="radio" name="injury" value="true">oui<br></label>
                    <label><input type="radio" name="injury" value="" checked>non<br></label> <!-- false string must be "" -->
                </div>
                <div class="column center" style="top: 150%;">
                    <button>
                        Continuer
                    </button>
                </div>
            </div>
        </form> 
    </div>
    <!-- JS scripts to be loaded after html (to seek element for instance) -->    
    <!--<script src="{{ url_for('static', filename='prompt.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='register.js') }}"></script>
</body>
</html>
