<!DOCTYPE html>
<html lang="en">
<head>
    <title> Goatt recommendation form </title>
    <meta name="description" content="recommendation.">
    <meta name="theme-color" content="#ffffff"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{url_for('static', filename='icons/app_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/app_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/app_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/app_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/app_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/app_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("/sw.js").then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
</head>
<body>
    <!-- TODO: Fix tap target sizes for SEO best practices -->
    <div class="container">
        <form action="{{ url_for('recommendation') }}" method="post">
            <div class="row center" style="width: 80%;">
                <div class="column">
                    <div style="padding: 5px;">
                        <b>Age:</b>
                    </div>
                    <label><input type="radio" name="age"  value="moins de 12ans">moins de 12ans<br></label>
                    <label><input type="radio" name="age" value="entre 12ans et 60ans" checked>entre 12ans et 60ans<br></label>
                    <label><input type="radio" name="age" value="plus de 60ans">plus de 60ans<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de jeu:</b>
                    </div>
                    <label><input type="radio" name="play_freq" value="rarement">rarement<br></label>
                    <label><input type="radio" name="play_freq" value="parfois" checked>parfois<br></label>
                    <label><input type="radio" name="play_freq" value="souvent">souvent<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Fréquence de casse:</b>
                    </div>
                    <label><input type="radio" name="break_freq" value="rarement">rarement<br></label>
                    <label><input type="radio" name="break_freq" value="parfois" checked>parfois<br></label>
                    <label><input type="radio" name="break_freq" value="souvent">souvent<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Objectif:</b>
                    </div>
                    <label><input type="radio" name="goal" value="confort">confort<br></label>
                    <label><input type="radio" name="goal" value="solidite" checked>solidite<br></label>
                    <label><input type="radio" name="goal" value="performance">performance<br></label>
                </div>
                <div class="column">
                    <div  style="padding: 5px;">
                        <b>Es-tu blessé?</b>
                    </div>
                    <label><input type="radio" name="injury" value="true">oui<br></label>
                    <label><input type="radio" name="injury" value="" checked>non<br></label> <!-- false string must be "" -->
                </div>
                <div class="column center" style="top: 150%;">
                    <button>
                        Continuer
                    </button>
                </div>
            </div>
        </form> 
    </div>
</body>
</html>
